<h1 class="alert alert-warning">Contact Manager</h1>
<nav class=" container nav-bar">
  <a *ngIf="!isLogin" [routerLink]="['/login']" routerLinkActive="router-link-active">Login </a> 
  <span *ngIf="!isLogin">
    | <a [routerLink]="['/']" routerLinkActive="router-link-active">Dashboard </a> | 
    <a [routerLink]="['/contacts']" routerLinkActive="router-link-active">Contacts </a> 
    <a style="float: right;" [routerLink]="['/logout']" routerLinkActive="router-link-active">Logout <i class="fa fa-power-off"></i></a> 
  </span> 
  
</nav>
<div class="container router-container">
  <router-outlet></router-outlet>
</div>